SECRET_KEY=
DEBUG=

#DB-------------
#django.db.backends.sqlite3 or django.db.backends.mysql
DBTYPE=
DBHOST=
#Set your database name
#MySQL or SQLite3 (Case-sensitive)
DBNAME=
DBUSER=
DBPASSWORD=
#default == 3306
DBPORT=
GITTOKEN=
# DEV or PROD
ENVIRONMENT=
