.content {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	max-width: 1700px;
	width: 100%;
	min-height: calc(100vh - var(--height-header) - var(--height-footer));
	margin-top: var(--height-header);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	background-color: var(--color-blue);
	width: 100%;
	height: 70px;
}

.footer__logo {
	height: 60%;
}
