.container {
	max-width: 1536px;
	padding: 4rem 30px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.news_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.news {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container h1 {
	text-align: center;
}

.new_container {
	align-items: start;
}

.new_container > p {
	text-indent: 32px;
	word-break: break-all;
}

.profile_container {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 4px 0;
}

.profile_container img {
	width: 24px;
	height: 24px;
	border-radius: 100%;
}

.buttonMore {
	display: flex;
	background: var(--color-blue);
	border: 1px solid var(--border-trasparent2);
	outline: none;
	padding: 8px 20px;
	border-radius: 20px;
	color: var(--color-main);
	cursor: pointer;
	transition: all 0.3s ease;
	font-weight: 600;
}

.buttonMore:hover {
	transform: translateY(-5px);
}
