{% extends 'layout.html' %} 

{% load static %}

{% block title %}Morea | Home{% endblock %}

{% block stylesCustom %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; gap: 1rem; align-items: center;">
    <iframe style="outline: none; border: none;" src="/media/graphs/allWMoteDevices24hRaw.html" title="test" height="270" width="480"></iframe>
    <iframe style="outline: none; border: none;" src="/media/graphs/allEMoteDevices24hRaw.html" title="test" height="270" width="480"></iframe>
</div>
{% endblock %}