{% extends 'layout.html' %} 

{% load static %}

{% block title %}Morea | Home{% endblock %}

{% block stylesCustom %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <h1>Gráficos Brutos das Últimas 24 horas</h1>
  <div class="graph">
    <iframe class="iframe" src="/media/graphs/allWMoteDevices24hRaw.html" title="test"></iframe>
  </div>
  <div class="graph">
    <iframe class="iframe" src="/media/graphs/allEMoteDevices24hRaw.html" title="test"></iframe>
  </div>
</div>
{% endblock %}