{% extends 'sidebar.html' %}

{% load static %}

{% block title %}Morea | Gerenciamento de Dispositivos{% endblock %}
{% block stylesCustom %}
<link rel="stylesheet" href="{% static 'css/device_detail.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <h1>Detalhes do Dispositivo</h1>
  <ul class="device-details">
    <li>
      <strong>ID:</strong> {{ device.id }}
    </li>
    <li>
      <strong>Nome:</strong> {{ device.name }}
    </li>
    <li>
      <strong>Tipo:</strong> {{ device.get_type_display }}
    </li>
    <li>
      <strong>Autorizado:</strong> {{ device.get_is_authorized_display }}
    </li>
    <li>
      <strong>Endereço MAC:</strong> {{ device.mac_address }}
    </li>
    <li>
      <strong>Seção:</strong> {{ device.section }}
    </li>
    <li>
      <strong>Localização:</strong> {{ device.location }}
    </li>
    <li>
      <strong>Endereço IP:</strong> {{ device.ip_address }}
    </li>
    <li>
      <strong>Token da API:</strong> {{ device.api_token }}
    </li>
    <li>
      <strong>Tensão:</strong> {{ device.get_voltage_display|default:"N/A" }}
    </li>
  </ul>
</div>
{% endblock %}