<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Errors.css">
    <link rel="shortcut icon" href="../Imagens/IconMorea.png">
    <title>Erro 503</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="pointerkk">
                <a href="https://morea-ifs.org/"><img src="../Imagens/IconMorea.png" alt="Logo Morea"></a>
            </div>
        </div>
    </header>
    <div class="centerkk">
        <h1 class="titleErro">
            Erro 503
            <br>
            Servidor Indisponível
        </h1>
        <p class="text">
            Dificuldade De Processamento Do Servidor &#58;&#40;
            <br>
            O Servidor Web Está Temporariamente Indisponível Ou Incapaz De Lidar Com A Solicitação Do Cliente.
            <br>
            Clique No Botão Abaixo Para Voltar Para O Inicio
        </p>
        <a href="https://morea-ifs.org/">
            <button class="botão">Voltar</button>
        </a>
    </div>
</body>
</html>