{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/logo-morea-ds.png' %}">
    <title>Erro 500</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="pointerkk">
                <a href="{% url 'Home' %}"><img src="{% static 'assets/images/logo-morea-ds.png' %}" alt="Logo Morea"></a>
            </div>
        </div>
    </header>
    <div class="centerkk">
        <h1 class="titleErro">
            Erro 500
            <br>
        </h1>
        <p class="text">
            Problemas De Processamento Com A Hospedagem Do Site &#58;&#40;
            <br>
            A Versão HTTP Utilizada Na Requisição Não É Suportada Pelo Servidor
            <br>
            Clique No Botão Abaixo Para Voltar Para O Inicio
        </p>
        <a href="{% url 'Home' %}">
            <button class="botão">Voltar</button>
        </a>
    </div>
</body>
</html>