<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Errors.css">
    <link rel="shortcut icon" href="../Imagens/IconMorea.png">
    <title>Erro 500</title>
</head>
<body>
    <main>
        <section class="section">
            <div class="left">
                <img class="logo" src="../Imagens/IconMorea.png" alt="Logo Do Morea">
                <h1>500</h1>
                <p>Internal Server Error</p>
                <a class="btn" href="https://morea-ifs.org/">Home</a>
            </div>
            <div class="right">
                <img src="../Imagens/Erro.png" alt="Imagem De Erro 503">
            </div>
        </section>
    </main>
</body>
</html>