<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listMembersUpdate.css' %}">
    <title>Members Update</title>
</head>
<body>
<div class="container">
    <h1>Members Update</h1>
    <ul class="member-list">
        {% for member in members %}
            <li><a href="{% url 'UpdateUser' member.id %}">{{ member.first_name}} {{ member.last_name}}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
