<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>User Registration</title>
</head>
<body>
<h1>Login</h1>
<form action="{% url 'Login' %}"  method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        {{ error }}
    </div>
    <input type="submit" value="Login">
</form>
</body>
</html>
