{% extends 'layout.html' %} 

{% load static %}

{% block title %}Morea | Home{% endblock %}

{% block stylesCustom %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/news.css' %}" />
  
{% endblock %}

{% block content %}
<div class="container">
  <h1>Novidades</h1>
  <div class="news_container">
    <h2>Dashboard</h2>
    <div id="dashboard_news" class="news"></div>
  </div>
  <div class="news_container">
    <h2>IoT</h2>
    <div id="iot_news" class="news"></div>
  </div>
  <script src="{% static 'js/news.js' %}"></script>
  <script src="{% static 'js/date.format.js' %}"></script>
</div>

{% endblock %}